@use "global" as *;
.l-sub-contact-thanks {
    margin-top: rem(80);
    @include mq(md) {
        margin-top: rem(148);
    }
}
.l-sub-contact {
    margin-top: rem(64);
    @include mq(md) {
        margin-top: rem(148);
    }
}