@use "global" as *;

.aboutus {
    padding: 0 rem(15);
    @include mq(md){
    padding: rem(15) rem(15) rem(160);

}
}

.aboutus__inner {
    @include mq(md){
    width: 100%;
    max-width: rem(1080);
    margin-inline:auto;
}
}
.l-inner {

}


.aboutus__content {
margin-top: rem(26);
@include mq(md){
position: relative;
}
}

.aboutus__content::after {
@include mq(md){
content: '';
background: url(..//images/common/sango.png) no-repeat right bottom;
background-size:contain;
display: inline-block;
width: rem(194);
height: rem(181);
position: absolute;
right: calc(50% - min(48vw, 39.125rem));
//bottom:-9.5rem;
top:34rem;
}
}
.aboutus__images {
    display: flex;

    @include mq(md){
    max-width: rem(1080);
    width:100%;
}
}

.aboutus-left {
    max-width: 37%;
    @include mq(md){
    max-width: rem(400);
    }
}

.aboutus__img--left {

//position: relative;
aspect-ratio: 400 / 606;
}


.aboutus__img--left img {
    width: 100%;
    height: 100%;
}


.aboutus-right{
    z-index: -9999;
    margin-top: rem(26);
    position: absolute;
    right:0;
    max-width:81.7%;
    padding: 0 0.9375rem;
    @include mq(md){
   // max-width:rem(880);
    margin-top: rem(80);
}
}
.aboutus__img--right {
    //position: relative;
    aspect-ratio: 281 / 186;
    @include mq(md){
    aspect-ratio: 880 / 581;
    }
    }

.aboutus__img--right img {
    width: 100%;
    height: 100%;
}

.aboutus__text-body {
    margin-top:rem(56);
    @include mq(md){
        display: flex;
        width: rem(840);
        gap:rem(40);
        position:absolute;
        transform: translate(12.43rem, -28.8rem);
        margin-top:rem(56);
}
}
.aboutus__title {
    font-size: rem(40);
    font-family: $english-family;
    color: $green;
    font-weight: normal;
    line-height: 2.5rem;
    @include mq(md){
    width: rem(400);
    font-size: rem(80);
    text-align: left;
    line-height: 6.25rem;
    color: $white;
}
}
.aboutus__contents {
    margin-top: rem(17.6);
    @include mq(md){
    width: rem(400);
    margin-top:0;
    }
}

.aboutus__content {
@include mq(md){
color: $white;
margin-top:rem(36);
}
}

.about__text {
    @include mq(md){
color:$white;
font-family: $base-font-family;
line-height: 1.5;
}
}



.button {

}

.button-arrow {

}

.button__line-f {

}

.button__line-s {

}

