@use "global" as *;
.blog {
padding: rem(32) 0;
background: none;
@include mq(md){
padding: rem(100) 0;
position:relative;
}
}

.blog:after {
@include mq(md){
content:"";
background-image: url(..//images/common/blog.jpg);
background-repeat: no-repeat;
background-size: cover;
position: absolute;
height: 31.25rem;
width: 100%;
top:0;
left:0;
z-index:-2;
}
}

.blog-card__items {
    max-width: 37.5rem;
    margin-inline: auto;
    @include mq(md){
    display: flex;
    gap: rem(40);
    margin-top: rem(51);
    position: relative;
    flex-wrap: wrap;
    max-width: none;
}
}
.blog-card__items::after {
@include mq(md){
content: '';
background: url(..//images/common/hanadaill.png) no-repeat top left;
background-size:contain;
display: inline-block;
width: rem(437);
height: rem(201);
position: absolute;
top: -12.4rem;
left: calc(50% - min(48vw, 38.6875rem));
}
}

.blog-card__item {
box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
padding: rem(16) rem(16) rem(24) rem(16);
margin-top:rem(24);
width: 100%;
@include mq(md){
max-width: calc(33.3333% - 2.5rem * 2 /3);

}
}

.p-card__item:hover {
    opacity: 0.5;
}



.p-card {

}

.card__img {

}

.card__body {

}

.card-content__date {

}

.card__title {

}

.card__text {

}

.service__item {

}

.button__box {

}

.button {

}

.button-arrow {

}

.button__line-f {

}

.button__line-s {

}

