@use "global" as *;
.blog {
  padding: rem(32) 0;
  background: none;
  @include mq(md) {
    padding: rem(100) 0 0;
    position: relative;
  }
}

.blog:after {
  @include mq(md) {
    content: "";
    background-image: url(..//images/common/blog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 31.25rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
  }
}

.blog__items {
  margin-top: 1.5rem;
  max-width: 37.5rem;
  margin-inline: auto;
  @include mq(md) {
    margin-top: 5rem;
    position: relative;
    max-width: none;
  }
}
.blog__items::after {
  @include mq(md) {
    content: "";
    background: url(..//images/common/hanadaill.png) no-repeat top left;
    background-size: contain;
    display: inline-block;
    width: rem(437);
    height: rem(201);
    position: absolute;
    top: -13.4rem;
    left: calc(50% - min(48vw, 38.6875rem));
  }
}

.blog__button {
  margin-top: 5rem;
  text-align: center;
}
