@use "global" as *;
.breadcrumb {
  color: $black;
  font-family: $base-font-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

.breadcrumb__inner--white {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  width: 100%;
  color: white;
  padding-top: rem(80);
  @include mq(md) {
    padding-top: rem(90);
  }
}
