@use "global" as *;


.button__box {
    text-align: center;
    padding-bottom:1rem;
    margin-top: 1.3rem;
    @include mq(md){
    margin-top: 2.5rem;
}
}

.button__box--second {
    text-align: center;
    padding-bottom:1rem;
    margin-top: rem(27.2);
    @include mq(md){
    margin-top: rem(91.2);
}
}
.button__box--third {
    text-align: center;
    padding-bottom:1rem;
    margin-top: rem(43);
    @include mq(md){
    margin-top: rem(80);
}
}
.button__box--fourth {
    margin-top: rem(32);
    text-align: center;
    padding-bottom:1rem;
    @include mq(md){
    margin-top: rem(32);
    }
}

.button__box--fifth {
    margin-top: rem(32);
    text-align: center;
    padding-bottom:1rem;
    @include mq(md){
    margin-top: 1rem;
    }
}

.button {
    align-items: center;
    background-color: #408F95;
    border: 1px solid #408F95;
    color: #fff;
    display: block;
    font-weight: $normal;
    max-width: rem(202);
    padding: rem(16) rem(88) rem(16) rem(40);
    text-align: center;
    position: relative;
    display: inline-flex;
    white-space: nowrap;
    font-family: $english-family;
    height:rem(54);
    z-index: 1;

}
.button::after {
    background-color: #fff;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;

}

.button:hover {
    color: $green;
  }
.button:hover::after {
    transform: scale(1, 1);
    color: $green;
  }
.button-arrow {
    margin-left:rem(8);
    position: relative;
    width: rem(38.4);
    z-index:1;
}

.button__line-f {
    background-color: #fff;
    display: block;
    height: 2px;
    width:rem(40);
    z-index:-1;
}
.button__line-f::after  {
    content:"";
    background:$green;
    display: block;
    height: 1px;
    width:rem(40);
    z-index:1;
}

.button__line-s {
    background-color: #fff;
    display: block;
    height: 2px;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(45deg);
    transform-origin: right bottom;
    width: rem(10);
    z-index:-1;
}

.button__line-s::after {
    content: "";
    background: $green;
    display: block;
    height: 1px;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: right bottom;
    width: rem(10);
    z-index: 1;
}
.button::before {
    border: solid 0.0625rem #408F95;
    height: rem(54);
    content: "";
    position: absolute;
    left: rem(4);
    top: rem(4);
    width: rem(202);
    z-index: -1
    
}