@use "global" as *;
.campaign {
overflow:hidden;
margin-bottom:0.125rem;
}
.campaign__inner {

}

.l-inner {

}
.campaign__swiper {
margin-top: rem(24);
}
.campaign-card__item {
width:rem(280);
height:rem(366);
@include mq(md){
width:rem(334);
height:auto;
overflow: hidden;
padding-bottom:rem(23);
}
}

.p-card {

}

.campaign-card__img {
width:100%;
max-width: 100%;
aspect-ratio:  280 / 187;
@include mq(md){
aspect-ratio: 333 / 223;
}
}
.campaign-card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.campaign-card__body {
width:100%;
padding: rem(17) rem(16) rem(8) rem(16);
display: flex;
flex-direction: column;
flex-grow: 1;
@include mq(md){
padding: rem(24) rem(16) rem(8) rem(16);
}
.campaign-card__header {
border-bottom: solid 1px $green;

}
}

.campaign-category {
font-size: rem(12);
font-family: $base-font-family;
padding: rem(4) rem(12);
border:solid 1px $green;
width: fit-content;
@include mq(md){
padding: rem(6) rem(16);
}
}

.campaign-card__title {
font-family: $base-font-family;
font-weight: $bold;
line-height: 1.5;
color: $black;
margin-bottom: rem(8);
margin-top:rem(8);
font-size:0.9rem;
}

.campaign-card__footer {
text-align: center;

}
.campaign-card__price {
text-align: center;
}

.campaign-card__meta {
font-family: $base-font-family;
font-size: rem(14);
line-height: 1.5;
text-align: center;
margin-top:rem(16);
}

.campaign-card__priceinfo {
    width:100%;
   display: flex;
   gap:rem(16);
   align-items: baseline;
   justify-content: center;
   margin-top: auto;
}

.campaign-card__preprice {
    text-decoration-line: line-through;
    text-decoration-color: red;
    font-family: $main-title-family;
    color: $black;
    font-size: rem(20);
    font-weight: 700;
    @include mq(md){
    font-size: rem(22);
}
    @include mq(lg){
    font-size: rem(24);
}
}

.campaign-card__afterprice {
font-size: rem(32);
color: $green;
font-family: $main-title-family;
font-weight: 700;
@include mq(md){
font-size: rem(35);
}
@include mq(lg){
    font-size: rem(38);
}
}



.campaign-pagination {
    @include mq(md){
    width:rem(240);
}

}


