@use "global" as *;
.campaign {
  overflow: hidden;
  padding-bottom: 0.3rem;
}

.campaign__inner {
  padding-left: 0;
  padding-right: 0;
}

.campaign__items {
  margin-top: 1.625rem;
}

.campaign__button {
  margin-top: 5rem;
  text-align: center;
}
