@use "global" as *;

.information {
    background-color: $lightgreen;
    padding:rem(80) rem(15);

}


.information__inner {
    @include mq(md){
    width:100%;
    margin-inline: auto;
    max-width: rem(1080);
    }
}

.l-inner {

}


.information-container {
    margin-top: rem(24);
    @include mq(md){
    display: flex;
    gap:rem(40);
}
}


.information-img {
    aspect-ratio: 345 /227;
    @include mq(md){
    aspect-ratio: 540/356;
    overflow:hidden;
    position:relative;
}
}
.information-img  img {
    width: 100%;
    height:100%;
    object-fit: cover;
    opacity: 0;
}
.colorbox {
    position: relative;
}

.colorbox .color {
    position: absolute;
    top:0;
    left:0;
    right:auto;
    width:0%;
    height:100%;
    z-index:2;
    background-color: $green;
}


.information__text-body {
    margin-top: rem(24);
    width: 50%;
}

.information__title {
    margin-bottom: rem(8);
}

.information__contents {
    margin-top: rem(8);
    border-top: solid 1px $green;
}

.information__content {
    margin-top: rem(8);
}

.button-box {

}

.button {

}

.button-arrow {

}

.button__line-f {

}

.button__line-s {

}

