@use "global" as *;
.loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 555;
    top: 0;
    left: 0;
}

.loading__inner {
    max-width:100%;
    width:100%;
    position: relative;
    background-color: #fff;
    height: inherit;
}

.text-box {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 0;
}
.loader .text{
    font-size: rem(40);
    font-weight: $normal;
    color: $green;
    font-family: $main-title-family;
    text-transform: uppercase;
    line-height: 1.25;
    letter-spacing: rem(21.6);
    text-align: center;
    @include mq(md){
    font-size: rem(80);
    letter-spacing: rem(43.2);
}
}
.loader .sub-text{
    font-size: rem(20);
    font-weight: $normal;
    color: $green;
    font-family: $english-family;
    text-align: center;
    @include mq(md){
    font-size: rem(20);
}
}


