@use "global" as *;
.mv {
  position: relative;
  z-index:1;
}

.p-swiper-container{
    position: relative;
  }
  .mv-swiper-slide {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      overflow: hidden;
}


  .p-swiper__desc {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    top: 50%;
    transform: translateY(-50%);
  }
  .p-swiper__heading {
    font-size: rem(40);
    font-weight: $normal;
    color: $white;
    font-family: $main-title-family;
    text-transform: uppercase;
    line-height: 1.25;
    letter-spacing: 0.54em;
    text-indent:0.54em;
    @include mq(md){
    font-size: rem(80);

}
}
.p-swiper__text {
    font-size: rem(20);
    font-weight: $normal;
    color: $white;
    font-family: 'Gotu', sans-serif;;
    text-align: center;
    @include mq(md){
    font-size: rem(20);
}
}
