@use "global" as *;
.price {
    background-color: $lightgreen;
    background-size: cover;
    padding:rem(80) rem(15) rem(48);
    @include mq(md){
    padding:rem(96) rem(15) rem(48);
}
}
.price__inner {
    @include mq(md){
    width: 100%;
    margin-inline: auto;
    max-width: rem(1080);
}
}
.price-wrapper {
@include mq(md){
margin-bottom: rem(100);
}
}
.price__img--sp {
display: block;
@include mq(md){
display: none;
}
}
.price__img--pc {
    display: none;
    @include mq(md){
    display: block;
   aspect-ratio: 492 / 746;
}
}
.price__img--pc img {
@include mq(md){
width: 100%;
height: 100%;
object-fit: cover;
}
}
.price-img__box {
    width:100%;
    height:100%;
    overflow: hidden;
}

.price-left {
    @include mq(md){
    width: 100%;
}
}
.price-right {
    width: 100%;
    transform: translateY(rem(30));
    @include mq(md){
    margin-top:rem(8);
}
}

.price-container {
margin-top: rem(24);
@include mq(md){
display: flex;
gap:rem(93);
flex-direction: row-reverse;
position: relative;
justify-content: center;
margin-top: 0;
}
}
.price-container::after {
    @include mq(md){
    content: '';
    background: url(http://localhost:3000/assets/images/common/hanadaigl.png) no-repeat bottom left;
    background-size:contain;
    display: inline-block;
    width: rem(437);
    height: rem(201);
    position: absolute;
    top: 48rem;
    left: calc(50% - min(48vw, 38.5475rem));
        }
}


.price__text-body {
margin-top: rem(40);
overflow:hidden;
}


.price-title {
    border-bottom: solid 1px $green;
    font-weight: $bold;
    line-height: 1.5rem;
    color: $black;
    padding-bottom: rem(4);
    font-size: 1rem;
}
.price-contents {
    color: $black;
    line-height: 1.48rem;
}

.price-content {
display: flex;
margin-top: rem(8);
font-family: $base-font-family;
letter-spacing:0.05em;
@include mq(md){
gap:rem(92)
}
}
.price-course {
width: rem(253);
font-size: rem(14);
font-family: $base-font-family;
letter-spacing: 0.02rem;
white-space: nowrap;
@include mq(md){
width: rem(300);
letter-spacing: 0.15em;
}
}
.price-en {
width: rem(92);
text-align: end;
font-family: $base-font-family;
letter-spacing:0.0875rem;
font-size: rem(12);
@include mq(md){
width: rem(100);
font-size: rem(16);
}
}

