@use "global" as *;

.section-header {
  text-align: center;
}

.section-header__title {
  color: $black;
  font-family: $english-family;
  font-size: rem(32);
  line-height: 40px;
  font-weight: $normal;
  @include mq(md) {
    font-size: rem(40);
  }
}

.section-header__subtitle {
  color: $green;
  font-family: $base-font-family;
  font-size: rem(12);
  margin-top: rem(8);
}

.section-header__title:first-letter {
  color: $green;
  text-transform: capitalize;
}
/*---blog---------------------------*/
.section-header__title--blog {
  @include mq(md) {
    color: $white;
  }
}

.section-header__title--blog:first-letter {
  color: $green;
  text-transform: capitalize;
  @include mq(md) {
    color: $white;
  }
}
.section-header__subtitle--blog {
  color: $green;
  @include mq(md) {
    color: $white;
  }
}
/*---contact---------------------------*/
.section-header__title--contact {
  font-size: rem(80);
  @include mq(md) {
    margin-top: 0;
    font-size: rem(79);
  }
}
.section-header__subtitle--contact {
  color: $green;
  font-weight: 300;
}
.section-header__title--contact:first-letter {
  color: $green;
  text-transform: capitalize;
}
