@use "global" as *;

.section-header {
    text-align: center;
}

.section-header__title {
    color: $black;
    font-family: $english-family;
    font-size: rem(40);
    line-height: 40px;
    font-weight: $normal;
}

.section-header__subtitle {
    color: $green;
    font-family: $base-font-family;
    font-size: rem(12);
    margin-top:rem(8);
}

.section-header__title:first-letter {
    color: $green;
    text-transform: capitalize;
}

