@use "global" as *;
.single {
  margin: rem(32) 0;
  background: none;
  @include mq(md) {
    margin: rem(100) 0 0;
    position: relative;
  }
}
.single__inner {
  @include mq(md){
    max-width: rem(1160);
    margin-inline: auto;
    padding: 0 rem(25);
  }
}

.single:after {
  @include mq(md) {
    content: "";
    background-image: url(..//images/common/single.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 31.25rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
  }
}

.single__title {
font-family: $base-font-family;
font-size: rem(32);
font-weight: 500;
line-height: rem(46);
letter-spacing: 0em;
text-align: left;
border-bottom: 1px solid $green;
padding-bottom: 0.5rem;

@include mq(md){
font-size: rem(32);
}
}
.single__content {
  display: block;
  margin-top: rem(80);
  @include mq(md){
    display: flex;
    gap:rem(25);
    margin-top: rem(144);
    padding: 0;
    justify-content: center;
  }
}

.single__content:after {
  content: "";
  background: url(..//images/common/hanadaigr.png) no-repeat top left;
  background-size: contain;
  display: inline-block;
  height: rem(55);
  left: calc(50% - min(45vw, 38.6875rem));
  position: absolute;
  top: 35.875rem;
  width: rem(120);
  @include mq(md) {
    height: 8.5625rem;
    left: calc(50% - min(45vw, 38.6875rem));
    position: absolute;
    top: -4rem;
    width: 27.3125rem;
  }
}
.single__content-item {
  max-width: 37.5rem;
  margin-left:auto;
  margin-right:auto;
  padding:  0;
  @include mq(md) {
    position: relative;
    // max-width: none;
    grid-row-gap: 5.2rem;
    grid-column-gap: 2.2rem;
    max-width: rem(722);
    width: 100%;
  }
}

.single__content-item-inner {
  @include mq(md) {
  padding:  0 rem(20);
  }
}
.single__items {
  // display: grid;
  // gap: rem(30);
  // grid-template-columns: repeat(1, 1fr);
  max-width: 37.5rem;
  margin-inline: auto;
  @include mq(md) {
    // gap: rem(40);
    // grid-template-columns: repeat(3, 1fr);
    position: relative;
    max-width: none;
  }
}


.single__button {
  margin-top: 5rem;
  text-align: center;
}

.single__page-sp {
  display: none;
  @include mq(md) {
    display: block;
  }
}

.single__subitems {
    margin-left: rem(16);
    @include mq(md) {
      margin-left: rem(18);
      display: grid;
      margin-top: 2.5rem;
    }
  }
  .single__subitem {
  }
  .single__subitem a {
    font-family: $base-font-family;
    line-height: calc(18 / 16);
    font-weight: $normal;
    color: $black;
    margin-top: rem(24);
    white-space: nowrap;
  }

  .single__subitem a::before {
    content: "";
    display: inline-block;
    width: rem(22); /*画像の幅*/
    height: rem(18); /*画像の高さ*/
    background-image: url(..//images/common/hitode2.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
  }

  .single__subitem a::before:hover {
    opacity: 0.5;
  }

