@use "global" as *;

.sub-voice-tab__content {
  margin-top: 0;;
  @include mq(md) {

}
}


.sub-voice-tab__menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: rem(21);
  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: rem(32);
    max-width: rem(744);
  }
}

.sub-voice-tab__menu-item {
  display: flex;
  width: rem(162);
  height: rem(32);
  padding: rem(6) 0;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: solid 1px $green;
  color: $green;
  height: 100%;
  cursor: pointer;
}

.sub-voice-tab__menu-item.is-active {
  color: #fff;
  background-color: $green;
}

.sub-voice-tab__content-item {
  padding: 0;
  display: none;
  background-color: #fff;
  @include mq(md) {
}
}
.sub-voice-tab__content-item.is-active {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: rem(40);
  @include mq(md) {
    // grid-template-columns: repeat(2, 1fr);
  }
  animation: fade 0.3s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
