@use "global" as *;
.sub-voice {
  //padding:0 0 rem(80);
  @include mq(md) {
  }
}

.sub-voice__items {
  max-width: 37.5rem;
  margin-inline: auto;
  height: auto;
  margin-top: rem(40);
  @include mq(md) {
    width: 100%;
    position: relative;
    max-width: none;
    margin-top: 2rem;
  }
}

.sub-voice__items::after {
    content: "";
    background: url(..//images/common/hanadaigr.png) no-repeat top left;
    background-size: contain;
    display: inline-block;
    width: rem(120);
    height: rem(55);
    position: absolute;
    top:34rem;
    left: calc(50% - min(48vw, 38.6875rem));
    z-index:-1;
    @include mq(md) {
      width: rem(437);
      height: rem(137);
      top: -8.5rem;
  }
}

.sub-voice__button {
  margin-top: 5rem;
  text-align: center;
}

.sub-voice__contact {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(140);
  }
}
.sub-voice-footer {
  margin-top: rem(100);
  @include mq(md) {
    margin-top: rem(140);
  }
}
.sub-voice__page-sp {
  display: none;
  @include mq(md) {
    display: block;
  }
}
