@use "global" as *;

// .sub-pagenavi__inner {
//   margin: auto;
//   max-width: rem(600);
//   width: 100%;
//   @include mq(md) {
//     max-width: rem(480);
//   }
// }


// .single-pagenavi {
//   justify-content: space-between;
// }

// .sub-pagenavi .wp-pagenavi .current {
//   color: #fff;
//   background-color: $green;
//   border-color: $green;
// }
.wp-pagenavi a.sub-pagenavi-sp {
  display: none;
  @include mq(md) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
