@use "global" as *;
.sub-campaign-card {
  background-color: #fff;
  box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  transition: opacity 0.4s;
  width: 100%;
}
.sub-campaign-card:hover {
  opacity: 0.7;
}
.sub-campaign-card__img {
  position: relative;
  width: 100%;
}
.sub-campaign-card__img::before {
  content: "";
  display: block;
  padding-top: 67.14%;
}

.sub-campaign-card__img img {
  -o-object-fit: cover;
  height: 100%;
  left: 50%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.sub-campaign-card__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1.25rem;
  @include mq(md) {
  padding: 1.25rem 1.25rem rem(44);
}
}

.sub-campaign-card__head {
  flex-grow: 1;
}

.sub-campaign-card__category {
  border: 1px solid #408f95;
  color: #408f95;
  display: inline-block;
  font-size: 0.75rem;
  padding: 0.3125rem 0.75rem;
  text-align: center;
}

.sub-campaign-card__title {
  font-size: rem(16);
  flex-grow: 1;
  font-weight: 500;
  margin-top: rem(8);
  @include mq(md) {
  font-size: 1.5rem;
}
}

.sub-campaign-card__text {
  border-top: 1px solid #408f95;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  padding-top: rem(24);
  text-align: center;
}

.sub-campaign-card__price {
  align-items: baseline;
  display: flex;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  gap: 6.5%;
  justify-content: center;
  margin-top: 0.1875rem;
}

.sub-campaign-card__before-price {
  font-size: rem(20);
  position: relative;
  @include mq(md) {
  font-size: 1.5rem;
}
}
.sub-campaign-card__before-price::after {
  background-color: #c94800;
  bottom: 0.9375rem;
  content: "";
  height: 0.1875rem;
  left: 0;
  position: absolute;
  width: 102%;
}
.sub-campaign-card__after-price {
  font-size: rem(32);
  color: #408f95;
  @include mq(md) {
  font-size: rem(40);
}
}

.sub-campaign-card__button-container {
  display: none;
  @include mq(md) {
    display: block;
    margin-top: rem(32);
    text-align: center;
  }
}

.sub-campaign-card__button-term {
  color: $green;
  text-align: center;
  font-family: $main-title-family;
  font-size: rem(16);
  font-style: normal;
  font-weight: 700;
  line-height: rem(18);
}

.sub-campaign-card__button-attend {
  color: $green;
  text-align: center;
  font-family: $base-font-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-top: rem(7);
}
.sub-campaign-card__button {
  margin-top: rem(16);
}
.sub-campaign-card__content {
  margin-top: rem(24);
  display: none;
  letter-spacing: 0.03rem;
  @include mq(md) {
    display: block;
    margin-top: rem(16);
    
  }
}

