@use "global" as *;
.sub-campaign__container {
  width: 100%;
  padding-left: rem(15);
  padding-right: rem(15);
  text-align: center;
  @include mq(md) {
    text-align: initial;
  }
}
.sub-campaign__contact {
  margin-top: rem(140);
}

