@use "global" as *;
.sub-price-list {
    width: 100%;
    line-height: 1;
    text-align: center;
    border-collapse: collapse;
}

.sub-price-list__data-title {
    background-color: $green;
    color: #fff;
    padding: 0 rem(44);
}

.sub-price-list__data-second {
    color: $black;
    font-family: $base-font-family;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid $green;
    @include mq(md){
        padding: rem(18)rem(16);
        font-size: rem(18);
    }
}
.sub-price-list__data-third{
    padding: rem(10) rem(16);
    font-size: rem(12);
    width: 23.1428%;
    border: 1px solid$green;
    text-align: end;
    @include mq(md){
        padding: rem(18) rem(16);
        font-size: rem(18);
    }
}


.sub-price-list__data span {
    margin-bottom: rem(5);
    position: relative;
    display: block;
    text-decoration-line: line-through;
}
.sub-price-list__img {
    width: rem(64);
    height: rem(64);
}
.sub-price-list__img-box {
    display: flex;
    justify-content: center;
}