@use "global" as *;
.sub-price{
    display: flex;
    justify-content: center;
}
.sub-price__container {
    max-width: rem(700);
    margin-inline: auto;}

.sub-price__box {
    margin-top: rem(80);
}