@use "global" as *;
.sub-mv__campaign {
  height: rem(460);
  background-image: url(..//images/common/sub-campaign.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .sub-mv__campaign {
    height: rem(548);
  }
}

.sub-mv__aboutus {
  height: rem(460);
  background-image: url(..//images/common/sub-aboutus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    height: rem(548);
  }

  .sub-mv__information {
    height: rem(460);
    background-image: url(..//images/common/info-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (min-width: 768px) {
      height: rem(548);
      background-image: url(..//images/common/sub-information.jpg);
    }
  }
}

.sub-mv__blog {
  height: rem(460);
  background-image: url(..//images/common/sub-blog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    height: rem(548);
    background-image: url(..//images/common/sub-blog.jpg);
  }
}

.sub-mv__voice {
  height: rem(460);
  background-image: url(..//images/common/voice-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    height: rem(548);
    background-image: url(..//images/common/sub-voice.jpg);
  }
}
.sub-mv__price {
  height: rem(460);
  background-image: url(..//images/common/sub-price.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .sub-mv__price {
    height: rem(548);
  }
}

.sub-mv__contact {
  height: rem(460);
  background-image: url(..//images/common/sub-contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    height: rem(548);
  }
}

.sub-mv__faq {
  height: rem(460);
  background-image: url(..//images/common/sub-contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    height: rem(548);
  }
}

.sub-mv__another {
  height: rem(460);
  background-image: url(..//images/common/page-sitemap.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    height: rem(548);
  }
}

.sub-mv__title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: rem(190);
  @media screen and (min-width: 768px) {
    .sub-mv__title {
      height: rem(274);
    }
  }
}

.sub-mv__engtitle {
  color: #fff;
  font-size: rem(40);
  font-family: $main-title-family;
  font-weight: 400;
  line-height: 100px;
}
@media screen and (min-width: 768px) {
  .sub-mv__engtitle {
    height: rem(274);
    font-size: rem(80);
    display: flex;
    align-items: center;
  }
}
