@use "global" as *;
.sub-gallery-list {
    display: grid;
    gap: rem(10);
    @include mq(md) {
        grid-template-columns: repeat(9, 1fr);
        grid-auto-flow: dense;
    }
}

.sub-gallery-list__item {
    @include mq(md) {
        grid-column: span 5;
        grid-row: span 1;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }
}
.item {
    flex: 1;
    display: block;
}

.sub-gallery-list__item:nth-of-type(6n+1),
.sub-gallery-list__item:nth-of-type(6n+6) {
    @include mq(md) {
        grid-column: span 4;
        grid-row: span 2;
    }
}

.sub-gallery-list__item img {
    width: 100%;
    height: 100%;
    aspect-ratio: 520/400;
    object-fit: cover;
}

.sub-gallery-list__item:nth-of-type(6n+1) img,
.sub-gallery-list__item:nth-of-type(6n+6) img {
    aspect-ratio: 300/440;
}
