
@use "global" as *;

.sub-blog-archive__items {
	color: #408f95;
	font-size: 1.5rem;
	margin-top: 1.5rem;
}

.sub-blog-archive__item:not(:first-child) {
	margin-top: 0.1875rem;
}


.sub-blog-archive__year {
	cursor: pointer;
	padding-left: 2rem;
	position: relative;
}
.sub-blog-archive__year.is-open::before {
	background: #408f95;
    content: "";
    left: 1%;
    position: absolute;
    top: 0;
    transform: translateY(52%) rotate(90deg);
}

.sub-blog-archive__year::before {
	-webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
	background: #408f95;
	clip-path: polygon(0 0, 100% 50%, 0 100%);
	content: "";
	height: 1.3125rem;
	left: 2%;
	position: absolute;
	top: 0;
	transform: translateY(40%);
	transition: transform 0.3s ease;
	width: 1.125rem;
}

.sub-blog-archive__year.is-open::before {
	background: #408f95;
	content: "";
	left: 1%;
	position: absolute;
	top: 0;
	transform: translateY(52%) rotate(90deg);
}

.sub-blog-archive__months {
	margin-left: 1.8125rem;
	margin-top: 0.25rem;
}

.sub-blog-archive__months {
	display: none;
}

.sub-blog-archive__months.is-open {
	display: block;
}

.sub-blog-archive__month:not(:first-child) {
	margin-top: 0.1875rem;
}

.sub-blog-archive__month {
	padding-left: 1.6875rem;
	position: relative;
}

.sub-blog-archive__month::before {
	-webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
	background: #408f95;
	clip-path: polygon(0 0, 100% 50%, 0 100%);
	content: "";
	height: 1.3125rem;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1.125rem;
}
