@use "global" as *;

.sub-campaign-tab__content {
  margin-top: rem(40);
  max-width: rem(600);
  margin-inline: auto;
  padding: 0 rem(25);
  @include mq(md) {
    max-width: none;
    padding: 0;
}
}
.sub-campaign-tab__content:before {
  content: "";
    background: url(..//images/common/hanadaigr.png) no-repeat top left;
    background-size: contain;
    display: inline-block;
    height: 3.4375rem;
    left: calc(50% - min(45vw, 38.6875rem));
    position: absolute;
    top: 34rem;
    width:7.5rem;
    z-index: -1;
@include mq(md) {
    height: 8.5625rem;
    left: calc(50% - min(45vw, 38.6875rem));
    top: 41.3rem;
    width: 27.3125rem;
  }
}


.sub-campaign-tab__menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: rem(16);
  max-width: fit-content;
  justify-items: center;
  align-items: center;
  margin-inline: auto;
  @include mq(md) {
    grid-template-columns: repeat(auto-fit, 10rem);
    grid-gap: rem(32);
    max-width:100%;
    display: grid;
    margin: 0;
  }
}


.sub-campaign-tab__content-item {
  display: none;
  background-color: #fff;
}
.sub-campaign-tab__content-item.is-active {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: rem(40);
  animation: fade 0.3s;
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem; // Specify the horizontal gap
    grid-row-gap: 5rem;    // Specify the vertical gap
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}