@use "global" as *;
.sub-blog-campaign-cards__item:not(:first-child) {
    margin-top: rem(40);
  }

.sub-blog-campaign-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: opacity 0.4s;
    width: 100%;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  }
  
  .sub-blog-campaign-card:hover {
    opacity: 0.7;
  }
  
  .sub-blog-campaign-card__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1.25rem 1rem 1rem;
  }
  
  .sub-blog-campaign-card__head {
    flex-grow: 1;
  }
  
  .sub-blog-campaign-card__img {
    position: relative;
    width: 100%;
  }
  
  .sub-blog-campaign-card__img::before {
    content: "";
    display: block;
    padding-top: 62.14%;
  }
  
  .sub-blog-campaign-card__img img {
    -o-object-fit: cover;
    height: 100%;
    left: 50%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  .sub-blog-campaign-card__category {
    border: 1px solid #408f95;
    color: #408f95;
    display: inline-block;
    font-size: 0.75rem;
    padding: 0.3125rem 0.75rem;
    text-align: center;
  }
  
  .sub-blog-campaign-card__title {
    flex-grow: 1;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }
  
  .sub-blog-campaign-card__title--aside {
    text-align: center;
  }
  
  .sub-blog-campaign-card__text {
    border-top: 1px solid #408f95;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;
  }
  
  .sub-blog-campaign-card__price {
    align-items: baseline;
    display: flex;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    gap: 6.5%;
    justify-content: center;
    margin-top: 0.1875rem;
  }
  
  .sub-blog-campaign-card__before-price{
    font-family: $main-title-family;
    font-size: rem(20);
    font-weight: 700;
    line-height: rem(20);
    letter-spacing: 0em;
    text-align: left;
    position: relative;
  }
  
  .sub-blog-campaign-card__before-price::after {
    background-color: #c94800;
    bottom: 0.5rem;
    content: "";
    height: 0.1875rem;
    left: 0;
    position: absolute;
    width: 102%;
  }
  
  .sub-blog-campaign-card__after-price {
    color: #408f95;
    font-size: 2rem;
  }
.sub-blog-campaign-card__button {
  margin-top: 2.5rem;
  text-align: center;
}