@use "global" as *;
.voice {
  //padding:0 0 rem(80);
  @include mq(md) {
  }
}

.voice__items {
  max-width: 37.5rem;
  margin-inline: auto;
  height: auto;
  margin-top: rem(40);
  @include mq(md) {
    width: 100%;
    position: relative;
    max-width: none;
    margin-top: 1.5rem;
  }
}

.voice__items::after {
  @include mq(md) {
    content: "";
    background: url(..//images/common/hanadaigr.png) no-repeat top left;
    background-size: contain;
    display: inline-block;
    width: rem(437);
    height: rem(137);
    position: absolute;
    top: -13.5rem;
    left: calc(50% - min(48vw, 38.6875rem));
  }
}
.voice__items::before {
  @include mq(md) {
    content: "";
    background: url(..//images/common/tatu.jpg) no-repeat right bottom;
    background-size: contain;
    display: inline-block;
    width: rem(71);
    height: rem(162);
    position: absolute;
    bottom: -13.1rem;
    right: calc(50% - min(48vw, 33.75rem));
  }
}

.voice__button {
  margin-top: 5rem;
  text-align: center;
}
